.bg{
    background-image:url("/台北痕跡步/image/首頁背景圖.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/*填滿多餘部分*/
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    position: fixed;
    width: 100%;
    height: 61px;
    background-color: rgba(136, 197, 247, 0.432);
    margin-top:0%;  
    margin-left:0%; 
    z-index:2; 
}