.bg{
    background-image:url("/台北痕跡步/image/首頁背景圖.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/*填滿多餘部分*/
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    /*置中*/
    display: flex;
    margin: auto;
    width: 61%;
    height: 50px;
    background-color: rgba(12, 12, 77, 0.247);
    z-index:2; 
}
.btn1{
    margin-left: 10.5%;
    border-color:rgba(12, 12, 77, 0.1);
    width: 12%;
    background-color:rgba(12, 12, 77, 0.1) ;
    font-family: "標楷體";
    font-size: 20px;
}
.s1{
    color: rgb(190, 143, 212);
}
.font{
    font-family: 'Kumar One Outline', cursive;
    font-size: 43px;
    font-weight:bold;/*字體加粗*/
    margin-left: 4%;
    margin-top: -3%;


    -webkit-text-stroke: 0.2px white;
    color:black;
    background: linear-gradient(to top, #e230b6, yellow, #27cc2f);
    background-clip:text;
    -webkit-background-clip:text;

    /*漸層文字加陰影*/
    background: linear-gradient(to top, rgba(114, 204, 174, 0.733), rgb(213, 224, 247, 0.733),rgb(15, 15, 15,0.733));/*背景顏色漸層(由上往下)*/
    background-clip: text;/*背景顏色裁切為文字顏色*/
    -webkit-background-clip: text;
    color: transparent;/*字體透明(漸層)*/
    text-shadow: 0px 3px 0px black,/*中間數值為上下差距*/
            0px 9px 10px rgba(3, 2, 29, 0.2),
            0px 15px 3px rgba(27, 7, 83, 0.1),
            0px 21px 30px rgb(15, 15, 15,0.1);

}
.foot{
    font-size: 43px;
    color: black;
    margin-left: 1%;
    margin-top: -12%;
    transform:rotate(9deg);/*icon角度*/
}
@media screen and (min-width:320px) and (max-width:1300px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 0%;
        width: 31%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
}/*min(大於)*/
@media screen and (max-width:280px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%
    }
    .btn1{
        margin-left: 4.2%;
        margin-top: 0%;
        width:20%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
}/*min(小於)*/