.bg{
    background-image:url("/台北痕跡步/image/首頁背景圖.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/*填滿多餘部分*/
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    /*置中*/
    display: flex;
    margin: auto;
    width: 61%;
    height: 37px;
    background-color: rgba(12, 12, 77, 0.247);
    z-index:2; 
}
.font{
    font-family: 'Kumar One Outline', cursive;
    font-size: 43px;
    font-weight:bold;/*字體加粗*/
    margin-left: 4%;

    -webkit-text-stroke: 0.2px white;
    color:black;
    background: linear-gradient(to top, #e230b6, yellow, #27cc2f);
    background-clip:text;
    -webkit-background-clip:text;
}
.foot{
    font-size: 20px;
    color: yellow;
}