.bm{ 
    background-color:#f7edc5;
    /*position: absolute;   
    width: 100%;
    height: 100%;
    left:0%;
    top:0%;*/
    margin:0%;/*使所有外邊界等於0*/
    padding:0%;/*使所有內邊界等於0*/
}
.t{
    text-align: center;
    font-family: 標楷體;
    color:black;
}
.t11{
    font-size: 30px;
}
.t12{
    font-size: 30px;
    color: red;
}
.t13{
    position:relative;
    top:50px;
    font-size: 40px;
}
.t14{
    /*position:relative;*/
    display: flex;
    justify-content:center;/*文字置中*/
    margin-top:134px;
    font-size: 40px;
}
.div1{
    width:90%;
    height: auto;
}
.img1{
    margin: auto;/*邊界隨使用者螢幕自動*/
    height:auto;
    width:90%;
}
.d{
    display: flex;/*達彈性齊效果*/
    flex-wrap: wrap;/*將每一張圖片換行，也可用block*/
    justify-content: space-evenly;/*space-around中間空隙等對齊方式，而space-evenly為左右邊距等也對齊*/
}
.b1{
    position:relative;
    width: 290px;
    height: 290px;
    border-radius: 52%;
    border-width: 4px;
    top: 50px;
}
.b11{
    background-image:url("歌曲1.jpg");
    background-size: 100% 100%;/*圖片寬高*/   
}
.b11:hover {
    opacity:0.75;/*opacity對圖片進行透明度處理(數值越小，越透明)*/
    color:rgba(3, 4, 15, 0.89);
}
.b12{
    background-image:url("歌曲2.jpg");
    background-size: 100% 100%; 
}
.b12:hover {
    opacity:0.63;
    color:rgb(14, 1, 1);
}
.b13{
    background-image:url("歌曲3.jpg");
    background-size: 100% 100%;  
}
.b13:hover {
    opacity:0.61;
    color:rgb(15, 2, 17);
}
.b14{
    background-image:url("歌曲4.jpg");
    background-size: 100% 100%;   
}
.b14:hover {
    opacity:0.74;
    color:rgb(4, 14, 20);
}
.div2{
    margin-top: 34px;
    /*width:88%;*/
    height: 420px;
}
.img2{
    margin: 0 auto;
    height: 400px;
    width: 88%;
    object-fit:cover;/*填滿元素的寬度及高度(維持原比例)，剪掉物件多餘部分*/
    /*不適用scale-down、none、contain等用原圖比例，畫質模糊*/
}
.bb{
    position: relative;
    display: flex;
    margin-left: 12%;
    margin-top: 1.34%;
    /*height: 520px;*/
    width: 75%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    text-align: center;
}
.img3{
    /*position: absolute;*/
    width: 43.52%;
    margin: 0%;
    /*height: 520px;*/
    /*right: 50%;*/
}
/*當螢幕介於使用者螢幕範圍時，改變劇情介紹與動畫寬高值*/
@media screen and (min-width:520px) and (max-width:1300px){
    .img3{
        width:100%;
        /*height:520px;*/
    }
    .bb{
        flex-wrap: wrap;
    }
}    
.t15{
    font-size: 25%;
    text-align: justify;/*左右文本對齊*/
    line-height: 20px;/*行高*/
}
.img4{
    position: absolute;
    width: 17%;
    height: 31%;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    color: black;
    margin-top: 99px;
}
.img41{
    margin-top: 90px;
    margin-left: 10%;
}
.img41:hover {
    opacity:0.77;
    color:rgb(5, 0, 2);
}
.img42{
    margin-top: 90px;
    margin-left: 30.4%;
}
.img42:hover {
    opacity:0.77;
    color:rgb(5, 0, 2);
}
.img43{
    margin-top: 90px;
    margin-left: 50.8%;
}
.img43:hover {
    opacity:0.77;
    color:rgb(5, 0, 2);
}
.img44{
    margin-top: 90px;
    margin-left: 71.2%;
}
.img44:hover {
    opacity:0.77;
    color:rgb(5, 0, 2);
}
.p1{
    position: relative;
    margin-top: 490px;
    /*padding: 0%;白色填滿*/
    left:0%;
    font-size: 25%;
    text-align: center;
    line-height:63px;/*行高*/
    width: 100%;
    height: 10%;
    background-color: white;
}