.music{
    margin-left: 33%;
    margin-top: 2%;
    height: 320px;
    width: 34%;
    text-align: center;/*垂直置中*/
}
.music1{
    width: 75%;
    height: 313px;
}
.bottom{
        width: 100%;
        height: 300px;
        background-color:black;
        margin-top: 230px;
}
.home{
    position: absolute;
    color: rgb(214, 205, 255);
    font-size: 32px;
    font-family: 標楷體;
}
.home1{
    margin-top: 50px;
    margin-left: 17%;
}
.game{
    margin-top: 50px;
    margin-left: 43%;
}
.game1{
    margin-top: 102px;
    margin-left: 43%;
    font-size: 20px;
}
.game2{
    margin-top: 130px;
    margin-left: 43%;
    font-size: 20px;
}
.game3{
    margin-top: 158px;
    margin-left: 43%;
    font-size: 20px;
}
.bg{
    background-image: url("/自創網頁/img/background.png");
    background-position: center;/*圖片置中*/
    background-attachment: fixed;/*以中心點縮小擴張(有彈性)*/
    background-repeat: no-repeat;/*不要有空格(填滿)*/
    /*background-color: rgb(232, 162, 250);*/
    background-size: cover;/*依比例減少或增加元素*/
    /*vh為視窗大小*/
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.bg1{
    /*position:absolute;*/
    display: flex;
    margin-left: 27.5%;
    margin-top: 2%;
    /*background-color: rgba(233, 202, 245, 0.8);/*表示透明度*/
    width: 45%;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    align-items: center;
}
@media screen and (min-width:520px) and (max-width:1300px){
    .img1{
        width:100%;
        /*height:520px;*/
    }
    .bg1{
        flex-wrap:wrap;
    }
} 
.bg2{
    /*position:absolute;*/
    border-color: rgb(250, 216, 216);
    border-style: solid;
    width: 25%;
    height: 575px;
    margin-left: 17.5%;
    margin-top: 220px;
}
.bg21{
    /*position:absolute;*/
    /*border-color: rgb(248, 248, 252);
    border-style: solid;*/
    width: 52%;
    height: 120px;
    margin-left: 24%;
    margin-top: 7px;
}
.bg3{
    /*position:absolute;*/
    border-color: rgb(233, 173, 215);
    border-style: solid;
    width: 25%;
    height: 575px;
    margin-left: 56.5%;
    margin-top:-579px;
}
.bg4{
    margin-top: 100px;
}
.bg5{
    margin-top: -579px;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;/*去底線*/
}/*去列點的點符號及蓋過主選單按鈕*/
.sidebar{
    position: fixed;
    left: -252px;
    width: 250px;
    height: 100%;
    background: #d7bfe2d5;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 20px;
    color: rgb(232, 170, 238);
    padding-left: 16.2%;
    line-height: 72px;
    background: #0d0713;
}
.sidebar ul a{
    display: block;/*換行*/
    height: 100%;
    line-height: 52px;
    font-size: 20px;
    font-family: "標楷體";
    color: rgb(245, 45, 161);
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
}
ul li:hover a{
    padding-left: 52px;
}/*讓選單每列值與ICON有彈跳感*/
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    cursor: pointer;
    background: #241d3b;
    border-radius: 2px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 20px;
    color:white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 111;
    left: -195px;
    font-size: 16px;
    color: rgb(144, 175, 231);
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #cancel{
    left: 195px;
}/*~為影響展開與收放的符號*/

/*.float{
    position: absolute;
    display: flex;
    width: 100%;
    height: 52px;
    background-color: rgba(231, 243, 243, 0.92);
    margin-top: -4px;
    margin-left: 0%;  
}*/
/*.language{
    position: fixed;
    right:0px;
    border-color: rgba(177, 207, 236, 0.212);
    width: 5.7%;
    height: 52px;
    font-family: "標楷體";
}
.language1{
    right:32.5%;
    width: 7.5%;
}
.language2{
    right:25%;
    width: 7.5%;
}
.language3{
    right:17.5%;
    width: 7.5%;
}
.language4{
    right:10%;
    width: 7.5%;
}
.language5{
    right:40%;
    width: 7.5%;
}*/
/*.co1{
    height: 1004px;
    margin-top: 20px;  
    margin-left: 20%;
}*/
.co2{
    height: 100px;
    width: 9%;
    margin-top: 0px;  
    margin-left: 0%;
}
.img1{
    /*margin-top: -16px;
    height: 23%;*/
    /*margin-left: -36px;*/
    width: 53%;
    object-fit: cover;
    margin: 0%;
}
.img2{
    width: 100%;
    height: 116px;
}
.t0{
    font-family: "標楷體";
    font-size: 52px;
    color: wheat;
    background-color: black;
    margin-top: 230px;
    text-align: center;
}
.t1{
    /* margin-top: 134px; 
    margin-left: 20%; */
    font-family: "標楷體";
    /*text-align: center;*/
    font-size: 9px;
    line-height: 34px;
}
.t2{
    font-family: "標楷體";
    text-align: center;
    font-size: 20px;
    line-height: 31px;
    margin-top: 12%;
}
.but{
    width: 52%;
    height: 25px;
    text-align: center;
    font-size: 13.7px;
    font-family: "標楷體";
    margin-left: 24.2%;
}
.but1{
    margin-top: 23px;
}
.but2{
    margin-top: 22px;
    background-color: black;
    color: cornsilk;
}
.but3{
    margin-top: 22px;
}