*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -252px;
    width: 250px;
    height: 100%;
    background: #f3f0c3da;
    transition: all .5s ease;
    z-index: 2;
}
.sidebar header{
    font-size: 20px;
    color: rgb(243, 243, 202);
    padding-left: 16.2%;
    line-height: 72px;
    background: #070201;
}
.sidebar ul a{
    display: block;
    height: 100%;
    line-height: 52px;
    font-size: 20px;
    font-family: "標楷體";
    color: rgb(190, 125, 3);
    padding-left: 40px;
    box-sizing: border-box;
    /*border-top: 1px solid rgba(225, 255, 225, .1);
    border-bottom: 1px solid rgb(7, 4, 14);*/
    transition: .4s;
}
ul li:hover a{
    padding-left: 52px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    cursor: pointer;
    background: #241d3b;
    border-radius: 2px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 20px;
    color:white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 111;
    left: -195px;
    font-size: 16px;
    color: rgb(144, 175, 231);
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #cancel{
    left: 195px;
}
.black{
    width: 100%;
    height: 213px;
    display: flex;
    background-color:black;
    /* margin-top: 170px; */
}
.home{
    color: rgb(214, 205, 255);
    font-size: 20px;
    font-family: 標楷體;
}
.home1{
    margin-left: 29%;
}
/* .game{
    margin-top: 50px;
    margin-left: 44%;
} */
.game1{
    margin-top: 102px;
    /* margin-left: 44%; */
    font-size: 16px;
}
.game2{
    margin-top: 130px;
    /* margin-left: 44%; */
    font-size: 16px;
}
.game3{
    margin-top: 158px;
    /* margin-left: 44%; */
    font-size: 16px;
}
.bg0{
    background: -webkit-linear-gradient(right bottom,rgb(243, 180, 235),rgb(255, 192, 120));
    background: -o-linear-gradient(top left,rgb(243, 180, 235),rgb(255, 192, 120));
    background: -moz-linear-gradient(top left,rgb(243, 180, 235),rgb(255, 192, 120));
    background: linear-gradient(to top left,rgb(243, 180, 235),rgb(255, 192, 120)d);
    /*background-color:rgb(243, 217, 222);*/
}
.bg1{
    /*border-style: solid;
    border-color: black;*/
    margin-left: 13%;
    margin-top: 4.2%;
    width: 73%;
    height: 1316px; 
}
.co12{
    /*border-style: solid;
    border-color: black;*/
    margin-left: 44.3%;
    margin-top: 2%;
    width: 53%;
    /* height: 575px; */
}
.kw{
    /*border-style: solid;
    border-color: black;*/
    margin-left: 47.7%;
    margin-top: -312px;
    width: 47%;
    height: 403px;
}
.kw2{
    width: 100%;
    height: 492px;
    /*border-style: solid;
    border-color: black;*/
}
.image1{
    width: 100%;
    height: 397.7px;
    object-fit: cover;
}
.music1{
    /*margin-left: 1%;*/
    margin-top: 3.7%;
    height: 300px;
    width: 31%;
    /*border-style: solid;
    border-color: black;*/
}
.music11{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.text1{
    font-family: "標楷體";
    font-size: 16px;
    margin-top: 2%;
    margin-left: 6.1%;
}
.text2{
    font-family: "標楷體";
    font-size: 13px;
    margin-top: 3%;
    margin-left: 6.1%;
}
.text3{
    font-family: "標楷體";
    font-size: 13px;
    margin-top: 3%;
    margin-left: 6.1%;
}
.footer-left{
    margin-top: 50px;
    width: 52%;
}
.footer-right{
    margin-top: 50px;
    width: 48%;
}
/*@media only screen and(max-width:475px) {
    .footer-right{
        display: unset;
    }
}*/