.bag{
    background-image: url("/img/恩.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.float{
    position: fixed;
    width: 100%;
    height: 52px;
    background-color: rgba(231, 243, 243, 0.92);
    margin-top: -120px;  
    margin-left: -8px;  
}
.language{
    position: fixed;
    right:0px;
    border-color: rgba(177, 207, 236, 0.212);
    width: 5.7%;
    height: 52px;
    font-family: "標楷體";
}
.language1{
    right:32.5%;
    width: 7.5%;
}
.language2{
    right:25%;
    width: 7.5%;
}
.language3{
    right:17.5%;
    width: 7.5%;
}
.language4{
    right:10%;
    width: 7.5%;
}
.language5{
    right:40%;
    width: 7.5%;
}
.fruit{
    background-image: url("/img/春夏.jpg");
    height: 530px;
    width: 64%;
    background-position: center center;
    background-size: cover;
    margin-left: 18%;
    margin-top: 120px;
}
.loquat{
    /*display: inline-block;*/
    margin-left: 4.5%;
    margin-top: 162px;
}
.loq{
    width: 39%;
    height: 240px;
}
.all{    
    width: 42%;
    height: 150px;
}
.all:hover {
    opacity:0.85;
    color:rgba(3, 4, 15, 0.89);
}
.name{
    position: absolute;
    font-size: 30px;
    margin-left: 27%;
    margin-top: -5px;
}
.introduction{
    position: absolute;
    margin-left: 20%;
    margin-top: 45px;
    /*text-align: justify;*/
}
.but1{
    position: absolute;
    margin-left: 16.25%;
    margin-top: 219px;
    background-color: rgb(167, 167, 236);
    color: black;
    font-size:18px;
    font-family:標楷體;
}
.more{
    position: absolute;
    margin-left: 20%;
    margin-top: 130px;
}
.plum{
    /*display: inline;*/
    margin-top: -149px;
    margin-left: 53%;
}
.black{
    width: 100%;
    height: 300px;
    background-color: rgb(48, 48, 48);
    margin-top: 170px;
}
.home{
    position: absolute;
    color: blanchedalmond;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 32px;
    font-family: 標楷體;

}
