.bag{
    background-image: url("/img/恩.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.fruit{
    background-image: url("/img/春夏.jpg");
    height: 500px;
    width: 850px;
    background-position: center center;
    background-size: contain;
    margin-left: 330px;
}
.loquat{
    display: inline-block;
    margin-left: 5%;
    margin-top: 75px;
}
.loq{
    width: 38%;
    height: 220px;
}
.all{
    
    width: 720px;
    height: 150px;
}
.all:hover {
    opacity:0.85;
    color:rgba(3, 4, 15, 0.89);
}
.name{
    position: absolute;
    font-size: 30px;
    left: 29%;
    margin-top: -5px;
}
.introduction{
    position: absolute;
    left: 26%;
    margin-top: 60px;
}
.but1{
    position: absolute;
    margin-left: 25%;
    margin-top: 160px;
    background-color: yellow;
    border-color: yellow;
}
.plum{
    display: inline;
    margin-top: 130px;
    margin-left: 1%;
}
.name1{
    position: absolute;
    font-size: 30px;
    margin-left: 18%;
    
}
.but2{
    position: absolute;
    margin-left: 25%;
    margin-top: 160px;
    background-color: yellow;
    border-color: yellow;
}