.bag{
    background-image: url("/自創網頁/img/恩.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #f6b4fc;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 20px;
    color: white;
    padding-left: 16%;
    line-height: 72px;
    background: #27142e;
}
.sidebar ul a{
    display: block;
    height: 100%;
    line-height: 52px;
    font-size: 20px;
    font-family: "標楷體";
    color: rgb(9, 10, 53);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(225, 255, 225, .1);
    border-bottom: 1px solid rgb(7, 4, 14);
    transition: .4s;
}
ul li:hover a{
    padding-left: 52px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    cursor: pointer;
    background: #241d3b;
    border-radius: 2px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 20px;
    color:white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 111;
    left: -195px;
    font-size: 16px;
    color: rgb(144, 175, 231);
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #cancel{
    left: 195px;
}
.fruit{
    background-image: url("/自創網頁/img/春夏.jpg");
    height: 530px;
    width: 64%;
    background-position: center center;
    background-size: cover;
    margin-left: 18%;
    margin-top: 120px;
}
.loquat{
    /*display: inline-block;*/
    margin-left: 4.5%;
    margin-top: 162px;
}
.loq{
    width: 39%;
    height: 240px;
}
.all{    
    width: 42%;
    height: 150px;
}
.all:hover {
    opacity:0.85;
    color:rgba(3, 4, 15, 0.89);
}
.name{
    position: absolute;
    font-size: 30px;
    margin-left: 27%;
    margin-top: -5px;
}
.introduction{
    position: absolute;
    margin-left: 20%;
    margin-top: 45px;
    /*text-align: justify;*/
}
.but1{
    position: absolute;
    margin-left: 16.25%;
    margin-top: 219px;
    background-color: rgb(167, 167, 236);
    color: black;
    font-size:18px;
    font-family:標楷體;
}
.more{
    position: absolute;
    margin-left: 20%;
    margin-top: 130px;
}
.plum{
    /*display: inline;*/
    margin-top: -149px;
    margin-left: 53%;
}
.black{
    width: 100%;
    height: 300px;
    background-color: rgb(48, 48, 48);
    margin-top: 170px;
}
.home{
    position: absolute;
    color: blanchedalmond;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 32px;
    font-family: 標楷體;

}
