.bg{
    background-image:url("/雙北痕跡步/image/九份老街.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    display: flex;
    margin: auto;
    width: 61%;
    height: 50px;
    background-color: rgba(33, 99, 153, 0.0247);
    z-index:2; 
}
.btn1{
    margin-left: 10.5%;
    border-color:rgba(120, 120, 245, 0.02);
    width: 12%;
    background-color:rgba(120, 120, 245, 0.02) ;
    font-family: "標楷體";
    font-size: 20px;
}
.s1{
    color: white;
    -webkit-text-stroke: 0.7px rgb(133, 233, 161);
}
.font{
    font-family: 'Kumar One Outline', cursive;
    font-size: 43px;
    font-weight:bold;
    margin-left: 4%;
    margin-top: -3%;


    -webkit-text-stroke: 0.2px white;
    color:black;
    background: linear-gradient(to top, #e230b6, yellow, #27cc2f);
    background-clip:text;
    -webkit-background-clip:text;

    /*漸層文字加陰影*/
    background: linear-gradient(to top, rgba(114, 204, 174, 0.733), rgb(213, 224, 247, 0.733),rgb(15, 15, 15,0.733));/*背景顏色漸層(由上往下)*/
    background-clip: text;/*背景顏色裁切為文字顏色*/
    -webkit-background-clip: text;
    color: transparent;/*字體透明(漸層)*/
    text-shadow: 0px 3px 0px black,/*中間數值為上下差距*/
            0px 9px 10px rgba(3, 2, 29, 0.2),
            0px 15px 3px rgba(27, 7, 83, 0.1),
            0px 21px 30px rgb(15, 15, 15,0.1);

}
.foot{
    font-size: 43px;
    color: black;
    margin-left: 1%;
    margin-top: -12%;
    transform:rotate(9deg);
}
.black{
    position: relative;
    width: 100%;
    height: 212px;
    top: 99px;
    background-color:black;
}
.coo{
    text-align: center;
}
.call{
    color: rgb(214, 205, 255);
    font-size: 27px;
    font-family: 標楷體;
    padding-top: 59px;
    text-align: center;
}
.call1{
    color: rgb(173, 238, 235);
    font-size: 24px;
    font-family: 標楷體;
}
.fass{
    color: rgb(173, 238, 235);
    font-size: 24px;
}
.g{
    /*border-color: black;
    border-style: solid;*/
    width: 88%;
    height: 337px;
    margin: auto;
}
.gg{
    width: 88%;
    height: 337px;
    margin: auto;
}
.g1{
    /*border-color: black;
    border-style: solid;*/
    width: 47%;
    height: 335px;
    margin: 0%;
}
.g11{
    width: 47%;
    height: 335px;
    margin: 0%;
}
.g2{
    /*border-color: black;
    border-style: solid;*/
    width: 53%;
    height: 327px;
    margin-top: -335px;
    margin-left: 47%;
    padding-top: 4px;
    background-color: rgba(0, 0, 0, 0.747);
    
    /*position: absolute;
    animation-name: kw;
    animation-duration: 7s;*/  
}
/*@keyframes kw{
    47%{
        right: 20px;
    }
    0%{
        left: -20px;
    }
}*/
.im1{
    width: 100%;
    height: 330px;
    margin: 0%;
}
.t1{
    font-size: 27px;
    font-weight: bolder;
    font-family: 標楷體;
    color: rgb(247, 177, 70);
    -webkit-text-stroke: 0.7px wheat;
    text-align: center;
}
.t11{
    font-size: 17px;
    font-family: 標楷體;
    color: white;
    -webkit-text-stroke: 0.4px rgb(177, 177, 83);
    text-align: justify;
}
.icon1{
    font-size: 31px;
    color: white;
    margin-left: 0.3%;
}
.pp1{
    font-size: 16px;
    color: white;
    font-family: 標楷體;
    margin-top: -20px;
    margin-left: 6.1%;
}
.pp2{
    font-size: 16px;
    color: rgb(158, 240, 212);
    font-family: 標楷體;
    margin-top: -20px;
    margin-left: 0%;
}
/*.pp1:hover{
    color: white;
}*/
@media screen and (min-width:320px) and (max-width:1300px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 0%;
        width: 31%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 100%;
        margin-top: 77px;
    }
    .call{
        padding-top: 39px;
    }
    .call1{
        font-size: 20px;
        display: block;   
    }
    .fass{
        font-size: 16px;
    }
    .g1{
        width:31%;
        height: 50px;
        padding-left: 2%;
        z-index: 2px;

    }
    .g11{
        width:31%;
        height: 50px;
        padding-left: 2%;
        margin-left: 7%;
        z-index: 2px;

    }
    .im1{
        width: 100%;
        height: 50px;
        object-fit:  cover;
    }
    .g2{
        width: 100%;
        height: 334px;
        margin-left: 0%;
        margin-top: -61px;
        padding-top: 12px;
        padding-left: 1.4%;
        background-color: rgba(0, 0, 0, 0.747);
        z-index: -1;
    }
    .g{
        width: 98%;
        margin:0%;
    }
    .gg{
        width: 98%;
        margin:0%;
    }
    .t1{
        font-size: 20px;
        text-align:right;
    }
    .t11{
        font-size: 16px;
    }
    .icon1{
        font-size: 20px;
    }
    .pp1{
        font-size: 14px;
        margin-top: -16px;
        margin-left: 7.7%;
    }
    .pp2{
        font-size: 14px;
        margin-top: -16px;
    }
}
@media screen and (max-width:280px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%
    }
    .btn1{
        margin-left: 4.2%;
        margin-top: 0%;
        width:20%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 100%;
        margin-top: 77px;
    }
    .call{
        padding-top: 39px;
    }
    .call1{
        font-size: 20px;
        display: block;   
    }
    .fass{
        font-size: 16px;
    }
    .g1{
        width:27%;
        height: 50px;
        padding-left: 2%;
        z-index: 2px;

    }
    .g11{
        width:31%;
        height: 50px;
        padding-left: 2%;
        margin-left: 9%;
        z-index: 2px;

    }
    .im1{
        width: 100%;
        height: 50px;
        object-fit: cover;
    }
    .g2{
        width: 100%;
        height: 334px;
        margin-left: 0%;
        margin-top: -61px;
        padding-top: 12px;
        padding-left: 1.6%;
        background-color: rgba(0, 0, 0, 0.747);
        z-index: -1;
    }
    .g{
        width: 98%;
        margin:0%;
    }
    .gg{
        width: 98%;
        margin:0%;
    }
    .t1{
        font-size: 18px;
        text-align:right;
    }
    .t11{
        font-size: 16px;
    }
    .icon1{
        font-size: 20px;
    }
    .pp1{
        font-size: 14px;
        margin-top: -16px;
        margin-left: 8.8%;
    }
    .pp2{
        font-size: 14px;
        margin-top: -16px;
    }
}