.bg{
    background-image:url("/雙北痕跡步/image/首頁背景圖.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/*填滿多餘部分*/
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    /*置中*/
    display: flex;
    margin: auto;
    width: 61%;
    height: 50px;
    background-color: rgba(12, 12, 77, 0.247);
    z-index:2; 
}
.btn1{
    margin-left: 10.5%;
    border-color:rgba(12, 12, 77, 0.1);
    width: 12%;
    background-color:rgba(12, 12, 77, 0.1) ;
    font-family: "標楷體";
    font-size: 20px;
}
.s1{
    color: black;
    -webkit-text-stroke: 0.7px rgb(190, 143, 212);
}
.font{
    font-family: 'Kumar One Outline', cursive;
    font-size: 43px;
    font-weight:bold;/*字體加粗*/
    margin-left: 4%;
    margin-top: -3%;


    -webkit-text-stroke: 0.2px white;
    color:black;
    background: linear-gradient(to top, #e230b6, yellow, #27cc2f);
    background-clip:text;
    -webkit-background-clip:text;

    /*漸層文字加陰影*/
    background: linear-gradient(to top, rgba(114, 204, 174, 0.733), rgb(213, 224, 247, 0.733),rgb(15, 15, 15,0.733));/*背景顏色漸層(由上往下)*/
    background-clip: text;/*背景顏色裁切為文字顏色*/
    -webkit-background-clip: text;
    color: transparent;/*字體透明(漸層)*/
    text-shadow: 0px 3px 0px black,/*中間數值為上下差距*/
            0px 9px 10px rgba(3, 2, 29, 0.2),
            0px 15px 3px rgba(27, 7, 83, 0.1),
            0px 21px 30px rgb(15, 15, 15,0.1);

}
.foot{
    font-size: 43px;
    color: black;
    margin-left: 1%;
    margin-top: -12%;
    transform:rotate(9deg);/*icon角度*/
}
.b{
    display: flex;/*達彈性齊效果*/
    flex-wrap: wrap;/*將每一張圖片換行，也可用block*/
    justify-content: space-evenly;/*space-around中間空隙等對齊方式，而space-evenly為左右邊距等也對齊*/
}
.b1{
    position:relative;
    width: 290px;
    height: 290px;
    border-radius: 52%;
    border-width: 2px;
    top: 61px;
}
.b11{
    background-image:url("/雙北痕跡步/image/首頁圈1.jpg");
    background-size: 100% 100%; 
    border-color:rgb(230, 240, 94); 
    
}
.b11:hover {
    opacity:0.88;
}
.b12{
    background-image:url("/雙北痕跡步/image/首頁圈2.jpg");
    background-size: 100% 100%; 
    border-color:rgb(140, 240, 94);
}
.b12:hover {
    opacity:0.88;
}
.b13{
    background-image:url("/雙北痕跡步/image/首頁圈3.jpg");
    background-size: 100% 100%;
    border-color:rgb(230, 240, 94);   
}
.b13:hover {
    opacity:0.88;
}
.b14{
    background-image:url("/雙北痕跡步/image/首頁圈4.png");
    background-size: 100% 100%; 
    border-color:rgb(140, 240, 94);  
}
.b14:hover {
    opacity:0.88;
}
.t{
    font-family: 標楷體;
    font-weight: bold;
    font-size: 34px;
}
.tt{
    font-family: 標楷體;
    font-weight: bold;
    font-size: 37px;
}
.tt1{
    font-family: 標楷體;
    font-weight: bold;
    font-size:31px;
}
.t11{
    color: yellow;
    -webkit-text-stroke: 0.2px white;
}
.t12{
    color: rgb(230, 43, 120);
    -webkit-text-stroke: 0.7px rgb(240, 172, 44);
}
.t121{
    color: rgb(230, 43, 52);
    -webkit-text-stroke: 0.9px white;
}
.t122{
    color: rgb(43, 46, 230);
    -webkit-text-stroke: 0.5px white;
}
.t123{
    color: rgb(230, 227, 43);
    -webkit-text-stroke: 0.8px white;
}
.t13{
    color: rgb(116, 50, 238);
    -webkit-text-stroke: 0.4px rgb(17, 240, 173);
}
.t131{
    color: rgb(50, 236, 236);
    -webkit-text-stroke: 0.7px white;
}
.t14{
    color: rgb(12, 7, 50);
    -webkit-text-stroke: 0.3px rgb(99, 238, 44);
}
.black{
    position: relative;
    width: 100%;
    height: 212px;
    top: 99px;
    background-color:black;
}
.coo{
    text-align: center;
}
.call{
    color: rgb(214, 205, 255);
    font-size: 27px;
    font-family: 標楷體;
    padding-top: 59px;
    text-align: center;
}
.call1{
    color: rgb(173, 238, 235);
    font-size: 24px;
    font-family: 標楷體;
}
.fas{
    color: rgb(173, 238, 235);
    font-size: 24px;
}
.square {
    width: 61%;
    height: 520px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #ccc;
    background-color: rgba(230, 247, 250, 0.637);
    border-radius: 3px;
    perspective: 500px;
    /*使格子不是平面圖，程3D透視的樣子(每格div同行列等寬且有放大的感覺)*/
   
}
.area {
      width: 83%;
      height: 82.7%;
      left: 8.9%;
      top: 7%;
      position: absolute;
      margin: auto;
      transform: translateZ(5em);/*程3D(無背景距離框)*/
      transform-style: preserve-3d;
}
.area button {
        display: block;/*按鈕換行*/
        float: left;
        width: 31%;
        height: 31%;
        margin: 1%;
        background-color: rgba(255,255,255,0.4);
        border: none;/*無框*/
        border-radius: 3px;
        background-size:cover;
}
.area button:hover {
    background-color: rgba(255,255,255,0.8);
    transform: translateZ(1.5em);/*程3D(距離背景框多1.5)*/
}
@media screen and (min-width:320px) and (max-width:1300px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 0%;
        width: 31%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 99.4%;
        margin-top: 77px;
    }
    .call{
        padding-top: 39px;
    }
    .call1{
        font-size: 20px;
        display: block;   
    }
    .fas{
        font-size: 16px;
    }
    .square {
        width: 99%;
        /*height: 670px;*/
    }
    .area{
        top:52px;
    }
    .area button{
        background-size:cover;
        height: 28%;
    }
    .tt{
        font-size: 18.7px;
    }
    .tt1{
        font-size: 19px;
    }
}/*min(大於)*/
@media screen and (max-width:280px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%
    }
    .btn1{
        margin-left: 4.2%;
        margin-top: 0%;
        width:20%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 99.4%;
        margin-top: 77px;
    }
    .call{
        padding-top: 39px;
    }
    .call1{
        font-size: 20px;
        display: block;   
    }
    .fas{
        font-size: 16px;
    }
    .square {
        width: 99%;
    }
    .area{
        top:53px;
    }
    .area button{
        background-size:cover;
    }
    .tt{
        font-size: 20px;
    }
    .tt1{
        font-size: 14px;
    }
}/*min(小於)*/
