.bg{
    background-image:url("/雙北痕跡步/image/首頁背景圖.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/*填滿多餘部分*/
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.float{
    /*置中*/
    display: flex;
    margin: auto;
    width: 61%;
    height: 50px;
    background-color: rgba(12, 12, 77, 0.247);
    z-index:2; 
}
.btn1{
    margin-left: 10.5%;
    border-color:rgba(12, 12, 77, 0.1);
    width: 12%;
    background-color:rgba(12, 12, 77, 0.1) ;
    font-family: "標楷體";
    font-size: 20px;
}
.s1{
    color: black;
    -webkit-text-stroke: 0.7px rgb(190, 143, 212);
}
.font{
    font-family: 'Kumar One Outline', cursive;
    font-size: 43px;
    font-weight:bold;/*字體加粗*/
    margin-left: 4%;
    margin-top: -3%;


    -webkit-text-stroke: 0.2px white;
    color:black;
    background: linear-gradient(to top, #e230b6, yellow, #27cc2f);
    background-clip:text;
    -webkit-background-clip:text;

    /*漸層文字加陰影*/
    background: linear-gradient(to top, rgba(114, 204, 174, 0.733), rgb(213, 224, 247, 0.733),rgb(15, 15, 15,0.733));/*背景顏色漸層(由上往下)*/
    background-clip: text;/*背景顏色裁切為文字顏色*/
    -webkit-background-clip: text;
    color: transparent;/*字體透明(漸層)*/
    text-shadow: 0px 3px 0px black,/*中間數值為上下差距*/
            0px 9px 10px rgba(3, 2, 29, 0.2),
            0px 15px 3px rgba(27, 7, 83, 0.1),
            0px 21px 30px rgb(15, 15, 15,0.1);

}
.foot{
    font-size: 43px;
    color: black;
    margin-left: 1%;
    margin-top: -12%;
    transform:rotate(9deg);/*icon角度*/
}
.b{
    display: flex;/*達彈性齊效果*/
    flex-wrap: wrap;/*將每一張圖片換行，也可用block*/
    justify-content: space-evenly;/*space-around中間空隙等對齊方式，而space-evenly為左右邊距等也對齊*/
}
.b1{
    position:relative;
    width: 290px;
    height: 290px;
    border-radius: 52%;
    border-width: 2px;
    top: 30px;
}
.b11{
    background-image:url("/雙北痕跡步/image/首頁圈1.jpg");
    background-size: 100% 100%; 
    border-color:rgb(230, 240, 94); 
    
}
.b11:hover {
    opacity:0.88;
}
.b12{
    background-image:url("/雙北痕跡步/image/首頁圈2.jpg");
    background-size: 100% 100%; 
    border-color:rgb(140, 240, 94);
}
.b12:hover {
    opacity:0.88;
}
.b13{
    background-image:url("/雙北痕跡步/image/首頁圈3.jpg");
    background-size: 100% 100%;
    border-color:rgb(230, 240, 94);   
}
.b13:hover {
    opacity:0.88;
}
.b14{
    background-image:url("/雙北痕跡步/image/首頁圈4.png");
    background-size: 100% 100%; 
    border-color:rgb(140, 240, 94);  
}
.b14:hover {
    opacity:0.88;
}
.t{
    font-family: 標楷體;
    font-weight: bold;
    font-size: 34px;
}
.t11{
    color: yellow;
    -webkit-text-stroke: 0.2px white;
}
.t12{
    color: rgb(230, 43, 120);
    -webkit-text-stroke: 0.7px black;
}
.t13{
    color: rgb(116, 50, 238);
    -webkit-text-stroke: 0.4px rgb(17, 240, 173);
}
.t14{
    color: rgb(12, 7, 50);
    -webkit-text-stroke: 0.3px rgb(99, 238, 44);
}
.black{
    position: relative;
    width: 100%;
    height: 212px;
    top: 15px;
    background-color:black;
}
.call{
    color: rgb(214, 205, 255);
    font-size: 27px;
    font-family: 標楷體;
    padding-top: 20px;
    padding-left: 16px;
}
.footer-top{
    
    margin-top: 50px;
    width: 61%;
    height: 207px;
    /*border-style: solid;
    border-color: white;*/
}
.footer-bottom{
    margin-top: -212px;
    width: 37.7%;
    height: 207px;
    margin-left:61.7%;
    /*border-style: solid;
    border-color: white;*/
}
@media screen and (min-width:320px) and (max-width:1300px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%;
    }
    .btn1{
        margin-left: 0%;
        margin-top: 0%;
        width: 31%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 99.4%;
        height: 212px;
        background-color:black;
        
        padding:0%;/*讓內框與外框div無間距*/
        margin: 0%;
    }
    .footer-top{
        width: 99%;
        height: 106px;
        
        margin: 0%;
    }
    .footer-bottom{
        width: 99%;
        height: 88px;
        margin-top: 7.7px;
        
        margin-left: 0%;

    }
    .call{
        font-size: 16px;
    }
}/*min(大於)*/
@media screen and (max-width:280px){
    .foot{
        font-size: 27px;
        margin-left: 6.1%;
    }
    .font{
        font-size: 31px;
        margin-left: 0%;
        text-align: center;
    }
    .float{
        width: 86%;
        margin:0%;
        padding:7%
    }
    .btn1{
        margin-left: 4.2%;
        margin-top: 0%;
        width:20%;
        font-family: "標楷體";
        font-size: 7px;
        
    }
    .black{
        width: 99.4%;
        height: 212px;
        background-color:black;
        
        padding:0%;
        margin: 0%;
    }
    .footer-top{
        width: 99%;
        height: 106px;
        
        margin: 0%;
    }
    .footer-bottom{
        width: 99%;
        height: 88px;
        margin-top: 7.5px;
        
        margin-left: 0%;

    }
    .call{
        font-size: 16px;
    }
}/*min(小於)*/